<div class="accordion-container">
  <mat-accordion>
    <mat-expansion-panel
      hideToggle
      *ngFor="let order of orders">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Tavolo {{ order.table }}
        </mat-panel-title>

        <mat-panel-description>
          {{ order.waiter }} - {{ order.createdAt | date: 'HH:mm' }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ul>
        <li *ngFor="let drink of order.drinks">
          {{ drink.name }} - {{  drink.quantity }} -> {{ drink.productionTime * drink.quantity }} min
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
