.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

.accordion-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-accordion {
    width: 50%; /* Riduci la larghezza degli expansion panel */
}

.mat-expansion-panel {
    margin: 10px; /* Aggiungi uno spazio tra gli expansion panel */
}
