/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

    /* Polka */
    background-color: rgba(254, 254, 254, 0.8);
    background-image: radial-gradient(
        rgba(68, 76, 247, 0.8) 0.5px,
        rgba(254, 254, 254, 0.8) 0.5px
    );
    background-size: 10px 10px;

    /* Diagonali */
    /* background-color: rgba(254, 254, 254, 0.8); */
    /* background-size: 10px 10px; */
    /* background-image: repeating-linear-gradient(45deg, rgba(68, 76, 247, 0.8) 0, rgba(68, 76, 247, 0.8) 1px, rgba(254, 254, 254, 0.8) 0, rgba(254, 254, 254, 0.8) 50%); */
}
